{
    "env": {"node": true},
    "globals": {},
    "rules": {
        "camelcase": 0,
        "comma-spacing": 0,
        "default-case": 1,
        "eqeqeq": 2,
        "guard-for-in": 2,
        "handle-callback-err": 2,
        "key-spacing": 0,
        "no-else-return": 1,
        "no-extra-parens": 1,
        "no-lonely-if": 0,
        "no-mixed-requires": 0,
        "no-multiple-empty-lines": [2, {"max": 2}],
        "no-redeclare": 2,
        "no-shadow": 2,
        "no-space-before-semi": 0,
        "no-sync": 1,
        "no-undefined": 0,
        "no-underscore-dangle": 0,
        "no-unused-vars": 1,
        "no-void": 2,
        "no-warning-comments": 1,
        "quotes": [0, "single"],
        "radix": 2,
        "semi": [1, "always"],
        "space-infix-ops": 0,
        "valid-jsdoc": 1,
        "vars-on-top": 0,
        "wrap-iife": 2,
        "yoda": 0
    }
}
